[Unit]
Description=redborder Complex Event Processor

[Service]
ExecStart='java -jar -Dlog4j.configurationFile=/etc/cep/log4j2.xml /usr/lib/cep/cep.jar /etc/cep/config.yml'
Restart=always
User=cep
Group=cep

[Install]
WantedBy=multi-user.target
